* {
    font-family: roboto;
}

body{
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.header_body {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 100px;
    margin: 0px;
}

.header_body_image img {
    width: 500px;
    height: auto;
}

.header_links {
    display: flex;
    align-items: center;

}

.header_links ul {
    display: flex;
    padding-right: 100px;
    gap: 70px;
    color: white;
}


ul {
    list-style-type: none;
}


h1 {
    color: white;
    padding-left: 100px;
}

.center_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.center_images ul {
    display: flex;
    align-items: center;
    gap: 100px;

}

.center_images ul li img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 25px;
    padding: 10px;
}

.center_images ul li p{
    font-size: 18px;
    color: #E5E7EB;
}

.center_images ul li img{
    height: 100px;
    width: auto;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 0 250px;
    margin: 0px;
}

.quote .quote_name{
    padding-left: 250px;
    margin: 0 0 35px 0;
}

.center_body2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    color: #E5E7EB;

    border-style: solid;
    border-color: #3882F6;
    border-radius: 25px;
    
    /* width: 600px; */

    padding: 45px 100px;
    margin: 100px;
}

.footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
}

.header_button{

}

.button{
    background-color: #3882F6;
    border-radius: 6px; 
    padding: 3px 20px;
    outline: none;
    color: white;
}

.footer_button{

    border-color: #E5E7EB;
}


