*{
    font-family: roboto;
}

.header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8px;
}

.header h1{
    color: white;
    font-size: 24px;
    padding-left: 200px;
}

.header .header_links{
    flex: 1;
    font-size: 18px;
    color: #E5E7EB
    
}

ul{
    list-style-type: none;
}

.body p{
    font-size: 36px;
    color: #1F2937;
    font-family: light italic;
}
